.container {
  height: calc(100vh - 98px);
  margin: 16px;
  margin-left: 32px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2rem;
  color: lightgray;
  background: lightgray;
  border-radius: 10px;
}

.tabela {
  text-align: right;
  margin: auto;
  max-height: calc(100vh - 98px);
  height: 50%;
  width: 500px;
}

.button {
  text-align: right;
}
