<div class="container">
  <div class="childs">
    <img src="assets/img/perfilAtt.png" />
  </div>
  <div class="child1">
    <div class="campos">
      <div class="linhas">
        <h4 class="CAMPOS">NOME:&nbsp;</h4>
        <p>{{ mensalista.nome }}</p>
      </div>
      <div class="linhas">
        <h4 class="CAMPOS">Modelo:&nbsp;</h4>
        <p>{{ mensalista.modelo }}</p>
      </div>
      <div class="linhas">
        <div class="linhas">
          <h4 class="CAMPOS">Vencimento:&nbsp;</h4>
          <p>{{ mensalista.VencimentoContrato }}</p>
        </div>
      </div>
    </div>
    <div class="campos">
      <div class="linhas">
        <h4 class="CAMPOS">STATUS:&nbsp;</h4>
        <p>{{ exibeStatus }}</p>
      </div>
      <div class="linhas">
        <h4 class="CAMPOS">PLACA:&nbsp;</h4>
        <p>{{ mensalista.placa }}</p>
      </div>
      <div class="linhas">
        <h4 class="CAMPOS">Veiculo:&nbsp;</h4>
        <p>{{ mensalista.veiculo }}</p>
      </div>
      <div class="linhas">
        <h4 class="CAMPOS">Valor do desconto:</h4>
        <p>{{ valorDescontoAux }}</p>
      </div>
    </div>
  </div>
  <div class="valor">
    <h4 class="CAMPOS">Valor a pagar:&nbsp;</h4>
    <p>{{ valorPagar }}</p>
  </div>
  <div class="final">
    <button
      (click)="dialogClose()"
      class="full-width mat-elevation-z5"
      mat-raised-button
      color="warn"
    >
      CANCELAR
    </button>

    <button
      (click)="renovar(mensalista)"
      class="full-width mat-elevation-z5"
      mat-raised-button
      color="primary"
    >
      RENOVAR
    </button>
  </div>
</div>
