<form class="form">
  <img src="assets/img/erfil2.png" /><br /><br />
  <h1><strong>Nome:</strong> {{ mensalista.nome }}</h1>
  <br />
  <h1>
    <strong>Modelo:</strong> {{ mensalista.modelo }} &nbsp; &nbsp; &nbsp;
    <strong>Placa:</strong> {{ mensalista.placa }} &nbsp; &nbsp;
    <strong>Veiculo:</strong>{{ mensalista.veiculo }}
  </h1>
  <h1></h1>
  <h1>
    <strong>Valor a pagar:</strong> <strong> {{ valorPagar }}</strong>
  </h1>
  <section>
    <button mat-raised-button color="primary" (click)="renovar(mensalista)">
      RENOVAR
    </button>
    <button mat-raised-button color="accent" (click)="dialogClose()">
      CANCELAR
    </button>
  </section>
</form>
