<div class="container">
  <form class="form mat-elevation-z8">
    <h1>MINORU ESTACIONAMENTO - LOGIN</h1>
    <img
      src="assets/img/logo-minoruOld.png"
      alt="IMAGEM DO MINORU ESTACIONAMENTO"
    />
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input
        [formControl]="email"
        required
        [(ngModel)]="creds.email"
        name="email"
        matInput
        placeholder="Ex. fulano@mail.com"
      />
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>senha</mat-label>
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        [formControl]="senha"
        required
        [(ngModel)]="creds.senha"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>

    <button
      (click)="logar()"
      [disabled]="!validaCampos()"
      class="full-width mat-elevation-z5"
      mat-stroked-button
      color="primary"
    >
      Login
    </button>
  </form>
</div>
