<div class="container">
  <div class="childs">
    <img src="assets/img/perfilAtt.png" />
  </div>
  <div class="child1">
    <div class="campos">
      <div class="linhas">
        <h4 class="CAMPOS">NOME:&nbsp;</h4>
        <p>{{ garagem.nome }}</p>
      </div>
      <div class="linhas">
        <h4 class="CAMPOS">Modelo:&nbsp;</h4>
        <p>{{ garagem.modelo }}</p>
      </div>
      <div class="linhas">
        <div class="linhas">
          <h4 class="CAMPOS">Cliente com Desconto:&nbsp;</h4>
          <p>{{ garagem.convenio }}</p>
        </div>
      </div>
      <div class="linhas">
        <h4 class="CAMPOS">Hora Inicial:&nbsp;</h4>
        <p>{{ garagem.horaInicial }}</p>
      </div>
    </div>
    <div class="campos">
      <div class="linhas">
        <h4 class="CAMPOS">TIPO:&nbsp;</h4>
        <p>{{ garagem.cliente }}</p>
      </div>
      <div class="linhas">
        <h4 class="CAMPOS">PLACA:&nbsp;</h4>
        <p>{{ garagem.placa }}</p>
      </div>
      <div class="linhas">
        <h4 class="CAMPOS">Veiculo:&nbsp;</h4>
        <p>{{ garagem.veiculo }}</p>
      </div>
      <div class="linhas">
        <h4 class="CAMPOS">Horario de saida:&nbsp;</h4>
        <p>{{ dataFormat }}</p>
      </div>
      <div class="linhas">
        <h4 class="CAMPOS">Valor do desconto:</h4>
        <p>{{ descontoAux }}</p>
      </div>
    </div>
  </div>
  <div class="valor">
    <h4 class="CAMPOS">Valor a pagar:&nbsp;</h4>
    <p>{{ mostrarValor }}</p>
  </div>
  <div class="final">
    <button
      (click)="dialogClose()"
      class="full-width mat-elevation-z5"
      mat-raised-button
      color="warn"
    >
      CANCELAR
    </button>

    <button
      (click)="finalizar(valorPagar)"
      class="full-width mat-elevation-z5"
      mat-raised-button
      color="primary"
    >
      FINALIZAR
    </button>
  </div>
</div>
