<mat-toolbar>
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
    <mat-icon *ngIf="sidenav.opened">close</mat-icon>
  </button>
  MINORU ESTACIONAMENTO
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav">
    <img src="assets/img/logo-minoruAtu.png" />
    <mat-divider></mat-divider>
    <mat-nav-list class="nav-list">
      <a mat-list-item routerLink="garagem">
        <i class="material-icons">garage</i>
        Garagem
      </a>
      <a mat-list-item routerLink="mensalistas">
        <i class="material-icons">group</i>
        Mensalistas
      </a>

      <a mat-list-item type="button" (click)="logout()">
        <i class="material-icons">logout</i>
        Sair
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div>
      <router-outlet class="content mat-elevation-z4"></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
