mat-toolbar {
  background: #004a9f;
  color: white;

  /*centralizar o logo e o botao  
   justify-content: center;
  align-items: center;
  */
}

/* precisa centralizar o botao na parte da esquerda nao sei*/

/*ESTILIZAR A CIMA A PARTE DE CIMA DO PROJETO*/

mat-sidenav {
  margin: 16px;
  width: 200px;
  border-right: none;
  background: #002b5c;
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

mat-sidenav a {
  color: white;
}
mat-sidenav img {
  width: 100%;
  padding-top: 1rem;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
}
mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}
mat-list-item {
  display: block;
}
