<div class="container">
  <div class="header">
    <div class="img">
      <img src="assets/img/logo-minoruOld.png" width="200px" height="100px" />
    </div>
    <div class="img2">
      <h3>CADASTRO DE MENSALISTAS:</h3>
    </div>
  </div>
  <div class="chil1">
    <div class="linha1">
      <div class="colunas">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Nome</mat-label>

          <input
            name="nome"
            matInput
            placeholder="Ex. Matheus Andrade"
            [formControl]="nome"
            required
            [(ngModel)]="mensalistas.nome"
          />

          <mat-error>Digite o nome com no minimo 3 caracteres</mat-error>
        </mat-form-field>
      </div>
      <div class="colunas1">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Data de nascimento</mat-label>

          <input
            [formControl]="dataNascimento"
            required
            [(ngModel)]="mensalistas.dataNascimento"
            name="dataNascimento"
            [hiddenInput]="true"
            matInput
            placeholder="Ex. 06/02/2003"
            mask="00/00/0000"
          />

          <mat-error>Complete o campo data de nascimento</mat-error>
        </mat-form-field>
      </div>
      <div class="colunas1">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Email - (OPCIONAL)</mat-label>

          <input
            [formControl]="email"
            [(ngModel)]="mensalistas.email"
            name="email"
            matInput
            placeholder="Ex. matheus@fatec.com"
          />
        </mat-form-field>
      </div>
      <div class="colunas2">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Modelo</mat-label>

          <input
            [formControl]="modelo"
            required
            [(ngModel)]="mensalistas.modelo"
            name="modelo"
            matInput
            placeholder="Ex. Toyota Corolla"
          />

          <mat-error
            >Digite o modelo do veiculo com no minimo 3 Caracteres</mat-error
          >
        </mat-form-field>
      </div>
      <div class="selectE">
        <mat-checkbox
          [formControl]="checkAcessSistem"
          [disabled]="!validaEmail()"
          >Deseja criar uma conta no sistema?</mat-checkbox
        >
      </div>
    </div>
    <div class="linha1">
      <div class="colunas">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Telefone</mat-label>

          <input
            [formControl]="telefone"
            required
            [(ngModel)]="mensalistas.tel"
            name="telefone"
            matInput
            placeholder="Ex. (11) 94696-6635"
            mask="(00)  00000-0000"
          />

          <mat-error>Complete o campo corretamente o telefone</mat-error>
        </mat-form-field>
      </div>
      <div class="colunas1">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>CPF</mat-label>

          <input
            [formControl]="cpf"
            required
            [(ngModel)]="mensalistas.cpf"
            name="cpf"
            [hiddenInput]="true"
            matInput
            placeholder="Ex. 234.234.231-23"
            mask="000.000.000-00"
          />

          <mat-error>Digite corretamente o CPF</mat-error>
        </mat-form-field>
      </div>
      <div class="colunas1">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Endereço</mat-label>

          <input
            [formControl]="endereco"
            required
            [(ngModel)]="mensalistas.endereco"
            name="endereco"
            matInput
            placeholder="Ex. Avenida Tiradents ,32"
          />

          <mat-error>Digite o endereco com no minimo 3 caracteres</mat-error>
        </mat-form-field>
      </div>
      <div class="colunas2">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Placa</mat-label>

          <input
            [formControl]="placa"
            required
            [(ngModel)]="mensalistas.placa"
            name="placa"
            matInput
            placeholder="Ex. Padrao MERCOSUL/ANTIGOm"
            mask="SSS-0A00"
          />

          <mat-error>Placa no padrao mercosul ou padrao antigo</mat-error>
        </mat-form-field>
      </div>
      <div class="select">
        <mat-radio-group
          class="radiobutton"
          [formControl]="radioButton"
          required
          [(ngModel)]="mensalistas.veiculo"
        >
          <mat-radio-button value="CARRO" (click)="carValor()"
            >CARRO</mat-radio-button
          >

          <mat-radio-button value="MOTO" (click)="carMoto()"
            >MOTO</mat-radio-button
          >
        </mat-radio-group>
        <mat-checkbox [formControl]="checkConvenio">Convenio</mat-checkbox>
      </div>
    </div>
  </div>
  <div class="chil3">
    <button
      (click)="dialogClose()"
      class="full-width mat-elevation-z5"
      mat-raised-button
      color="warn"
    >
      CANCELAR
    </button>
    <button
      (click)="cadastrar()"
      class="full-width mat-elevation-z5"
      mat-raised-button
      color="primary"
      [disabled]="!validaCampos()"
    >
      CADASTRAR
    </button>
  </div>
</div>
